.post-date{
    background: #f4f4f4;
    padding: 4px;
    margin: 3px 0;
    display: block;
}

.post-thumb{
    width: 100%;
}
.post-thumb1{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}